<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-index") %>>
          <a href="/docs/providers/opentelekomcloud/index.html">OpenTelekomCloud Provider</a>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-antiddos-v1") %>>
              <a href="/docs/providers/opentelekomcloud/d/antiddos_v1.html">opentelekomcloud_antiddos_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-cce-cluster-v3") %>>
              <a href="/docs/providers/opentelekomcloud/d/cce_cluster_v3.html">opentelekomcloud_cce_cluster_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-cce-node-v3") %>>
              <a href="/docs/providers/opentelekomcloud/d/cce_node_v3.html">opentelekomcloud_cce_node_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-cce-node-ids-v3") %>>
              <a href="/docs/providers/opentelekomcloud/d/cce_node_ids_v3.html">opentelekomcloud_cce_node_ids_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-compute-bms-flavors-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/compute_bms_flavors_v2.html">opentelekomcloud_compute_bms_flavors_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-compute-bms-keypairs-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/compute_bms_keypairs_v2.html">opentelekomcloud_compute_bms_keypairs_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-compute-bms-nic-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/compute_bms_nic_v2.html">opentelekomcloud_compute_bms_nic_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-compute-bms-server-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/compute_bms_server_v2.html">opentelekomcloud_compute_bms_server_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-csbs-backup-v1") %>>
              <a href="/docs/providers/opentelekomcloud/d/csbs_backup_v1.html">opentelekomcloud_csbs_backup_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-csbs-backup-policy-v1") %>>
              <a href="/docs/providers/opentelekomcloud/d/csbs_backup_policy_v1.html">opentelekomcloud_csbs_backup_policy_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-cts-tracker-v1") %>>
              <a href="/docs/providers/opentelekomcloud/d/cts_tracker_v1.html">opentelekomcloud_cts_tracker_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-dcs-product-v1") %>>
               <a href="/docs/providers/opentelekomcloud/d/dcs_product_v1.html">opentelekomcloud_dcs_product_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-dcs-az-v1") %>>
               <a href="/docs/providers/opentelekomcloud/d/dcs_az_v1.html">opentelekomcloud_dcs_az_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-dcs-maintainwindow-v1") %>>
               <a href="/docs/providers/opentelekomcloud/d/dcs_maintainwindow_v1.html">opentelekomcloud_dcs_maintainwindow_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-deh-server-v1") %>>
               <a href="/docs/providers/opentelekomcloud/d/deh_server_v1.html">opentelekomcloud_deh_server_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-deh-host-v1") %>>
               <a href="/docs/providers/opentelekomcloud/d/deh_host_v1.html">opentelekomcloud_deh_host_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-dms-az-v1") %>>
               <a href="/docs/providers/opentelekomcloud/d/dms_az_v1.html">opentelekomcloud_dms_az_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-dms-product-v1") %>>
               <a href="/docs/providers/opentelekomcloud/d/dms_product_v1.html">opentelekomcloud_dms_product_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-dms-maintainwindow-v1") %>>
               <a href="/docs/providers/opentelekomcloud/d/dms_maintainwindow_v1.html">opentelekomcloud_dms_maintainwindow_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-identity-group-v3") %>>
              <a href="/docs/providers/opentelekomcloud/d/identity_group_v3.html">opentelekomcloud_identity_group_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-identity-project-v3") %>>
              <a href="/docs/providers/opentelekomcloud/d/identity_project_v3.html">opentelekomcloud_identity_project_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-identity-role-v3") %>>
              <a href="/docs/providers/opentelekomcloud/d/identity_role_v3.html">opentelekomcloud_identity_role_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-identity-user-v3") %>>
              <a href="/docs/providers/opentelekomcloud/d/identity_user_v3.html">opentelekomcloud_identity_user_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-images-image-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/images_image_v2.html">opentelekomcloud_images_image_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-kms-data-key-v1") %>>
              <a href="/docs/providers/opentelekomcloud/d/kms_data_key_v1.html">opentelekomcloud_kms_data_key_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-kms-key-v1") %>>
              <a href="/docs/providers/opentelekomcloud/d/kms_key_v1.html">opentelekomcloud_kms_key_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-networking-network-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/networking_network_v2.html">opentelekomcloud_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-networking-port-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/networking_port_v2.html">opentelekomcloud_networking_port_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-networking-secgroup-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/networking_secgroup_v2.html">opentelekomcloud_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-rds-flavor-v1") %>>
              <a href="/docs/providers/opentelekomcloud/d/rds_flavors_v1.html">opentelekomcloud_rds_flavor_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-rds-flavors-v3") %>>
              <a href="/docs/providers/opentelekomcloud/d/rds_flavors_v3.html">opentelekomcloud_rds_flavors_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-rts-stack-v1") %>>
               <a href="/docs/providers/opentelekomcloud/d/rts_stack_v1.html">opentelekomcloud_rts_stack_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-rts-stack-resource-v1") %>>
               <a href="/docs/providers/opentelekomcloud/d/rts_stack_resource_v1.html">opentelekomcloud_rts_stack_resource_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-rts-software-deployment-v1") %>>
               <a href="/docs/providers/opentelekomcloud/d/rts_software_deployment.html">opentelekomcloud_rts_software_deployment_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-rts-software-config-v1") %>>
               <a href="/docs/providers/opentelekomcloud/d/rts_software_config.html">opentelekomcloud_rts_software_config_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-s3-bucket-object") %>>
              <a href="/docs/providers/opentelekomcloud/d/s3_bucket_object.html">opentelekomcloud_s3_bucket_object</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-sdrs-domain-v1") %>>
              <a href="/docs/providers/opentelekomcloud/d/sdrs_domain_v1.html">opentelekomcloud_sdrs_domain_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-sfs-file-system-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/sfs_file_system_v2.html">opentelekomcloud_sfs_file_system_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-vbs-backup-policy-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/vbs_backup_policy_v2.html">opentelekomcloud_vbs_backup_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-vbs-backup-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/vbs_backup_v2.html">opentelekomcloud_vbs_backup_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-vpc-v1") %>>
              <a href="/docs/providers/opentelekomcloud/d/vpc_v1.html">opentelekomcloud_vpc_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-vpc-subnet-v1") %>>
              <a href="/docs/providers/opentelekomcloud/d/vpc_subnet_v1.html">opentelekomcloud_vpc_subnet_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-vpc-subnet-ids-v1") %>>
              <a href="/docs/providers/opentelekomcloud/d/vpc_subnet_ids_v1.html">opentelekomcloud_vpc_subnet_ids_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-vpc-peering-v2") %>>
               <a href="/docs/providers/opentelekomcloud/d/vpc_peering_v2.html">opentelekomcloud_vpc_peering_connection_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-vpc-route-v2") %>>
               <a href="/docs/providers/opentelekomcloud/d/vpc_route_v2.html">opentelekomcloud_vpc_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-vpc-route-ids-v2") %>>
               <a href="/docs/providers/opentelekomcloud/d/vpc_route_ids_v2.html">opentelekomcloud_vpc_route_ids_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-antidos") %>>
          <a href="#">Antiddos Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-antiddos-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/antiddos_v1.html">opentelekomcloud_antiddos_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-as") %>>
          <a href="#">Auto Scaling Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-as-configuration-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/as_configuration_v1.html">opentelekomcloud_as_configuration_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-as-group-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/as_group_v1.html">opentelekomcloud_as_group_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-as-policy-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/as_policy_v1.html">opentelekomcloud_as_policy_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-blockstorage") %>>
          <a href="#">Block Storage Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-blockstorage-volume-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/blockstorage_volume_v2.html">opentelekomcloud_blockstorage_volume_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-evs-volume-v3") %>>
              <a href="/docs/providers/opentelekomcloud/r/evs_volume_v3.html">opentelekomcloud_evs_volume_v3</a>
            </li>
          </ul>
        </li>

         <li<%= sidebar_current("docs-opentelekomcloud-resource-cce") %>>
           <a href="#">CCE Resources</a>
           <ul class="nav nav-visible">
             <li<%= sidebar_current("docs-opentelekomcloud-resource-cce-cluster-v3") %>>
               <a href="/docs/providers/opentelekomcloud/r/cce_cluster_v3.html">opentelekomcloud_cce_cluster_v3</a>
             </li>
             <li<%= sidebar_current("docs-opentelekomcloud-resource-cce-node-v3") %>>
               <a href="/docs/providers/opentelekomcloud/r/cce_node_v3.html">opentelekomcloud_cce_node_v3</a>
             </li>
           </ul>
         </li>

        <li<%= sidebar_current("docs-opentelekomcloud-ces-alarm") %>>
          <a href="#">CES Alarm</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-ces-alarmrule") %>>
              <a href="/docs/providers/opentelekomcloud/r/ces_alarmrule.html">opentelekomcloud_ces_alarmrule</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-elb") %>>
          <a href="#">Classic Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-elb-loadbalancer") %>>
              <a href="/docs/providers/opentelekomcloud/r/elb_loadbalancer.html">opentelekomcloud_elb_loadbalancer</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-elb-listener") %>>
              <a href="/docs/providers/opentelekomcloud/r/elb_listener.html">opentelekomcloud_elb_listener</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-elb-health") %>>
              <a href="/docs/providers/opentelekomcloud/r/elb_health.html">opentelekomcloud_elb_health</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-elb-backend") %>>
              <a href="/docs/providers/opentelekomcloud/r/elb_backend.html">opentelekomcloud_elb_backend</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-css") %>>
          <a href="#">Cloud Search Service Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-css-cluster-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/css_cluster_v1.html">opentelekomcloud_css_cluster_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-compute") %>>
          <a href="#">Compute Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-floatingip-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_floatingip_v2.html">opentelekomcloud_compute_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-floatingip-associate-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_floatingip_associate_v2.html">opentelekomcloud_compute_floatingip_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-instance-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_instance_v2.html">opentelekomcloud_compute_instance_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-keypair-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_keypair_v2.html">opentelekomcloud_compute_keypair_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-secgroup-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_secgroup_v2.html">opentelekomcloud_compute_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-servergroup-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_servergroup_v2.html">opentelekomcloud_compute_servergroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-volume-attach-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_volume_attach_v2.html">opentelekomcloud_compute_volume_attach_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-bms-server-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_bms_server_v2.html">opentelekomcloud_compute_server_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-ecs-instance-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/ecs_instance_v1.html">opentelekomcloud_ecs_instance_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-csbs") %>>
          <a href="#">CSBS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-csbs-backup-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/csbs_backup_v1.html">opentelekomcloud_csbs_backup_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-csbs-backup-policy-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/csbs_backup_policy_v1.html">opentelekomcloud_csbs_backup_policy_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-cts") %>>
          <a href="#">CTS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-cts-tracker-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/cts_tracker_v1.html">opentelekomcloud_cts_tracker_v1</a>
          </ul>
        </li>
 
        <li<%= sidebar_current("docs-opentelekomcloud-resource-rds") %>>
          <a href="#">DB Instance Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-rds-instance-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/rds_instance_v1.html">opentelekomcloud_rds_instance_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-rds-instance-v3") %>>
              <a href="/docs/providers/opentelekomcloud/r/rds_instance_v3.html">opentelekomcloud_rds_instance_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-rds-parametergroup-v3") %>>
              <a href="/docs/providers/opentelekomcloud/r/rds_parametergroup_v3.html">opentelekomcloud_rds_parametergroup_v3</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-dcs") %>>
          <a href="#">DCS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-dcs-instance-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/dcs_instance_v1.html">opentelekomcloud_dcs_instance_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-deh") %>>
          <a href="#">DeH Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-deh-host-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/deh_host_v1.html">opentelekomcloud_deh_host_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-dms") %>>
          <a href="#">DMS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-dms-group-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/dms_group_v1.html">opentelekomcloud_dms_group_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-dms-instance-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/dms_instance_v1.html">opentelekomcloud_dms_instance_v1</a>
            </li>
			      <li<%= sidebar_current("docs-opentelekomcloud-resource-dms-queue-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/dms_queue_v1.html">opentelekomcloud_dms_queue_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-dns") %>>
          <a href="#">DNS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-dns-ptrrecord-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/dns_ptrrecord_v2.html">opentelekomcloud_dns_ptrrecord_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-dns-recordset-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/dns_recordset_v2.html">opentelekomcloud_dns_recordset_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-dns-zone-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/dns_zone_v2.html">opentelekomcloud_dns_zone_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-eip") %>>
          <a href="#">EIP Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpc-eip-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpc_eip_v1.html">opentelekomcloud_vpc_eip_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-lb") %>>
          <a href="#">Enhanced Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-certificate-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_certificate_v2.html">opentelekomcloud_lb_certificate_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-loadbalancer-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_loadbalancer_v2.html">opentelekomcloud_lb_loadbalancer_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-listener-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_listener_v2.html">opentelekomcloud_lb_listener_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-pool-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_pool_v2.html">opentelekomcloud_lb_pool_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-member-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_member_v2.html">opentelekomcloud_lb_member_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-monitor-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_monitor_v2.html">opentelekomcloud_lb_monitor_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-l7policy-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_l7policy_v2.html">opentelekomcloud_lb_l7policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-l7rule-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_l7rule_v2.html">opentelekomcloud_lb_l7rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-whitelist-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_whitelist_v2.html">opentelekomcloud_lb_whitelist_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-fw") %>>
          <a href="#">Firewall Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-fw-firewall-group-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/fw_firewall_group_v2.html">opentelekomcloud_fw_firewall_group_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-fw-policy-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/fw_policy_v2.html">opentelekomcloud_fw_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-fw-rule-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/fw_rule_v2.html">opentelekomcloud_fw_rule_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-identity") %>>
          <a href="#">Identity Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-identity-agency-v3") %>>
              <a href="/docs/providers/opentelekomcloud/r/identity_agency_v3.html">opentelekomcloud_identity_agency_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-identity-project-v3") %>>
              <a href="/docs/providers/opentelekomcloud/r/identity_project_v3.html">opentelekomcloud_identity_project_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-identity-user-v3") %>>
              <a href="/docs/providers/opentelekomcloud/r/identity_user_v3.html">opentelekomcloud_identity_user_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-identity-group-v3") %>>
              <a href="/docs/providers/opentelekomcloud/r/identity_group_v3.html">opentelekomcloud_identity_group_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-identity-group-membership-v3") %>>
              <a href="/docs/providers/opentelekomcloud/r/identity_group_membership_v3.html">opentelekomcloud_identity_group_membership_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-identity-role-assignment-v3") %>>
              <a href="/docs/providers/opentelekomcloud/r/identity_role_assignment_v3.html">opentelekomcloud_identity_role_assignment_v3</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-identity-role-v3") %>>
              <a href="/docs/providers/opentelekomcloud/r/identity_role_v3.html">opentelekomcloud_identity_role_v3</a>
            </li>
          </ul>
        </li>        

        <li<%= sidebar_current("docs-opentelekomcloud-resource-images") %>>
          <a href="#">Images Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-images-image-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/images_image_v2.html">opentelekomcloud_images_image_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-ims-data-image-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/ims_data_image_v2.html">opentelekomcloud_ims_data_image_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-ims-image-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/ims_image_v2.html">opentelekomcloud_ims_image_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-kms") %>>
          <a href="#">KMS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-kms-key-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/kms_key_v1.html">opentelekomcloud_kms_key_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-logtank") %>>
          <a href="#">LogTank Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-logtank-group-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lts_loggroup.html">opentelekomcloud_logtank_group_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-logtank-topic-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lts_logtopic.html">opentelekomcloud_logtank_topic_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-maas") %>>
          <a href="#">MAAS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-maas-task-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/maas_task_v1.html">opentelekomcloud_maas_task_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-mrs") %>>
          <a href="#">MRS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-mrs-cluster-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/mrs_cluster_v1.html">opentelekomcloud_mrs_cluster_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-mrs-job-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/mrs_job_v1.html">opentelekomcloud_mrs_job_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-nat") %>>
          <a href="#">Nat Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-nat-gateway-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/nat_gateway_v2.html">opentelekomcloud_nat_gateway_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-nat-snat-rule-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/nat_snat_rule_v2.html">opentelekomcloud_nat_snat_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-nat-dnat-rule-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/nat_dnat_rule_v2.html">opentelekomcloud_nat_dnat_rule_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-networking") %>>
          <a href="#">Networking Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-floatingip-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_floatingip_v2.html">opentelekomcloud_networking_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-floatingip-associate-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_floatingip_associate_v2.html">opentelekomcloud_networking_floatingip_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-network-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_network_v2.html">opentelekomcloud_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-port-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_port_v2.html">opentelekomcloud_networking_port_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-router-interface-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_router_interface_v2.html">opentelekomcloud_networking_router_interface_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-router-route-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_router_route_v2.html">opentelekomcloud_networking_router_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-router-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_router_v2.html">opentelekomcloud_networking_router_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-subnet-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_subnet_v2.html">opentelekomcloud_networking_subnet_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-secgroup-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_secgroup_v2.html">opentelekomcloud_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-secgroup-rule-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_secgroup_rule_v2.html">opentelekomcloud_networking_secgroup_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpc-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpc_v1.html">opentelekomcloud_vpc_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpc-flow-log-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpc_flow_log_v1.html">opentelekomcloud_vpc_flow_log_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpc-subnet-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpc_subnet_v1.html">opentelekomcloud_vpc_subnet_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpc-route-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpc_route_v2.html">opentelekomcloud_vpc_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpc-peering-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpc_peering_v2.html">opentelekomcloud_vpc_peering_connection_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpc-peering-accepter-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpc_peering_accepter_v2.html">opentelekomcloud_vpc_peering_connection_accepter_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-vip-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_vip_v2.html">opentelekomcloud_networking_vip_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-vip-associate-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_vip_associate_v2.html">opentelekomcloud_networking_vip_associate_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-obs") %>>
          <a href="#">OBS Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-obs-bucket") %>>
              <a href="/docs/providers/opentelekomcloud/r/obs_bucket.html">opentelekomcloud_obs_bucket</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-obs-bucket-object") %>>
              <a href="/docs/providers/opentelekomcloud/r/obs_bucket_object.html">opentelekomcloud_obs_bucket_object</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-rts") %>>
          <a href="#">RTS Resources</a>
          <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-opentelekomcloud-resource-rts-stack-v1") %>>
                <a href="/docs/providers/opentelekomcloud/r/rts_stack_v1.html">opentelekomcloud-resource-rts-stack-v1</a>
              </li>
              <li<%= sidebar_current("docs-opentelekomcloud-resource-rts-software-config-v1") %>>
                <a href="/docs/providers/opentelekomcloud/r/rts_software_config_v1.html">opentelekomcloud_rts_software_config_v1</a>
              </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-rts-software-deployment-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/rts_software_deployment_v1.html">opentelekomcloud_rts_software_deployment_v1</a>
            </li>

          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-s3") %>>
          <a href="#">S3 Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-s3_bucket") %>>
              <a href="/docs/providers/opentelekomcloud/r/s3_bucket.html">opentelekomcloud_s3_bucket</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-s3-bucket-object") %>>
              <a href="/docs/providers/opentelekomcloud/r/s3_bucket_object.html">opentelekomcloud_s3-bucket-object</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-s3-bucket-policy") %>>
              <a href="/docs/providers/opentelekomcloud/r/s3_bucket_policy.html">opentelekomcloud_s3_bucket_policy</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-sfs") %>>
          <a href="#">SFS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-sfs-file-system-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/sfs_file_system_v2.html">opentelekomcloud_sfs_file_system_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-smn") %>>
          <a href="#">SMN Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-smn_subscription_v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/smn_subscription_v2.html">opentelekomcloud_smn_subscription_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-smn-topic-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/smn_topic_v2.html">opentelekomcloud_smn_topic_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-sdrs") %>>
          <a href="#">Storage Disaster Recovery Service Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-sdrs-protectiongroup-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/sdrs_protectiongroup_v1.html">opentelekomcloud_sdrs_protectiongroup_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-vbs") %>>
          <a href="#">VBS Resources</a>
           <ul class="nav nav-visible">
             <li<%= sidebar_current("docs-opentelekomcloud-resource-vbs-backup-policy-v2") %>>
               <a href="/docs/providers/opentelekomcloud/r/vbs_backup_policy_v2.html">opentelekomcloud-vbs-backup-policy-v2</a>
             </li>
             <li<%= sidebar_current("docs-opentelekomcloud-resource-vbs-backup-v2") %>>
               <a href="/docs/providers/opentelekomcloud/r/vbs_backup_v2.html">opentelekomcloud-vbs-backup-v2</a>
             </li>
             <li<%= sidebar_current("docs-opentelekomcloud-resource-vbs-backup-share-v2") %>>
               <a href="/docs/providers/opentelekomcloud/r/vbs_backup_share_v2.html">opentelekomcloud-vbs-backup-share-v2</a>
             </li>
           </ul>
         </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-waf") %>>
          <a href="#">WAF Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-waf-certificate-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/waf_certificate_v1.html">opentelekomcloud_waf_certificate_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-waf-domain-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/waf_domain_v1.html">opentelekomcloud_waf_domain_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-waf-policy-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/waf_policy_v1.html">opentelekomcloud_waf_policy_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-waf-whiteblackip-rule-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/waf_whiteblackip_rule_v1.html">opentelekomcloud_waf_whiteblackip_rule_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-waf-datamasking-rule-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/waf_datamasking_rule_v1.html">opentelekomcloud_waf_datamasking_rule_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-waf-falsealarmmasking-rule-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/waf_falsealarmmasking_rule_v1.html">opentelekomcloud_waf_falsealarmmasking_rule_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-waf-ccattackprotection-rule-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/waf_ccattackprotection_rule_v1.html">opentelekomcloud_waf_ccattackprotection_rule_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-waf-preciseprotection-rule-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/waf_preciseprotection_rule_v1.html">opentelekomcloud_waf_preciseprotection_rule_v1</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-waf-webtamperprotection-rule-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/waf_webtamperprotection_rule_v1.html">opentelekomcloud_waf_webtamperprotection_rule_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-vpnaas") %>>
          <a href="#">VPNaaS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpnaas-ipsec-policy-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpnaas_ipsec_policy_v2.html">opentelekomcloud_vpnaas_ipsec_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpnaas-ike-policy-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpnaas_ike_policy_v2.html">opentelekomcloud_vpnaas_ike_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpnaas-service-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpnaas_service_v2.html">opentelekomcloud_vpnaas_service_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpnaas-endpoint-group-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpnaas_endpoint_group_v2.html">opentelekomcloud_vpnaas_endpoint_group_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpnaas-site_connection-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpnaas_site_connection_v2.html">opentelekomcloud_vpnaas_site_connection_v2</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
