<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-index") %>>
          <a href="/docs/providers/opentelekomcloud/index.html">OpenTelekomCloud Provider</a>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-images-image-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/images_image_v2.html">opentelekomcloud_images_image_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-networking-network-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/networking_network_v2.html">opentelekomcloud_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-networking-secgroup-v2") %>>
              <a href="/docs/providers/opentelekomcloud/d/networking_secgroup_v2.html">opentelekomcloud_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-datasource-vpc-v1") %>>
              <a href="/docs/providers/opentelekomcloud/d/vpc_v1.html">opentelekomcloud_vpc_v1</a>
            </li>
          </ul>
        </li>

	<li<%= sidebar_current("docs-opentelekomcloud-ces-alarm") %>>
          <a href="#">Ces Alarm</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-cesalarm-rule") %>>
              <a href="/docs/providers/opentelekomcloud/d/cesalarm-rule.html">opentelekomcloud_cesalarm-rule</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-blockstorage") %>>
          <a href="#">Block Storage Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-blockstorage-volume-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/blockstorage_volume_v2.html">opentelekomcloud_blockstorage_volume_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-compute") %>>
          <a href="#">Compute Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-floatingip-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_floatingip_v2.html">opentelekomcloud_compute_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-floatingip-associate-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_floatingip_associate_v2.html">opentelekomcloud_compute_floatingip_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-instance-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_instance_v2.html">opentelekomcloud_compute_instance_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-keypair-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_keypair_v2.html">opentelekomcloud_compute_keypair_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-secgroup-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_secgroup_v2.html">opentelekomcloud_compute_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-servergroup-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_servergroup_v2.html">opentelekomcloud_compute_servergroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-compute-volume-attach-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/compute_volume_attach_v2.html">opentelekomcloud_compute_volume_attach_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-dns") %>>
          <a href="#">DNS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-dns-recordset-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/dns_recordset_v2.html">opentelekomcloud_dns_recordset_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-dns-zone-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/dns_zone_v2.html">opentelekomcloud_dns_zone_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-images") %>>
          <a href="#">Images Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-images-image-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/images_image_v2.html">opentelekomcloud_images_image_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-networking") %>>
          <a href="#">Networking Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-floatingip-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_floatingip_v2.html">opentelekomcloud_networking_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-network-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_network_v2.html">opentelekomcloud_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-port-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_port_v2.html">opentelekomcloud_networking_port_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-router-interface-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_router_interface_v2.html">opentelekomcloud_networking_router_interface_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-router-route-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_router_route_v2.html">opentelekomcloud_networking_router_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-router-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_router_v2.html">opentelekomcloud_networking_router_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-subnet-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_subnet_v2.html">opentelekomcloud_networking_subnet_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-secgroup-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_secgroup_v2.html">opentelekomcloud_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-networking-secgroup-rule-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/networking_secgroup_rule_v2.html">opentelekomcloud_networking_secgroup_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-vpc-v1") %>>
              <a href="/docs/providers/opentelekomcloud/r/vpc_v1.html">opentelekomcloud_vpc_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-lb") %>>
          <a href="#">Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-loadbalancer-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_loadbalancer_v2.html">opentelekomcloud_lb_loadbalancer_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-listener-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_listener_v2.html">opentelekomcloud_lb_listener_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-pool-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_pool_v2.html">opentelekomcloud_lb_pool_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-member-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_member_v2.html">opentelekomcloud_lb_member_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-lb-monitor-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/lb_monitor_v2.html">opentelekomcloud_lb_monitor_v2</a>
            </li>
          </ul>
        </li>

	<li<%= sidebar_current("docs-opentelekomcloud-resource-elb") %>>
          <a href="#">Elastic Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-elb-loadbalancer") %>>
              <a href="/docs/providers/opentelekomcloud/d/elb_loadbalancer.html">opentelekomcloud_elb_loadbalancer</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-elb-listener") %>>
              <a href="/docs/providers/opentelekomcloud/d/elb_listener.html">opentelekomcloud_elb_listener</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-elb-backend") %>>
              <a href="/docs/providers/opentelekomcloud/d/lb_backend.html">opentelekomcloud_elb_backend</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-elb-health") %>>
              <a href="/docs/providers/opentelekomcloud/d/elb_health.html">opentelekomcloud_elb_health</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-resource-fw") %>>
          <a href="#">Firewall Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-resource-fw-firewall-group-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/fw_firewall_group_v2.html">opentelekomcloud_fw_firewall_group_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-fw-policy-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/fw_policy_v2.html">opentelekomcloud_fw_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-resource-fw-rule-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/fw_rule_v2.html">opentelekomcloud_fw_rule_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-s3") %>>
          <a href="#">S3 Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-s3_bucket") %>>
              <a href="/docs/providers/opentelekomcloud/r/s3_bucket.html">opentelekomcloud_s3_bucket</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-s3-bucket-object") %>>
              <a href="/docs/providers/opentelekomcloud/r/s3_bucket_object.html">opentelekomcloud_s3-bucket-object</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-s3-bucket-policy") %>>
              <a href="/docs/providers/opentelekomcloud/r/s3_bucket_policy.html">opentelekomcloud_s3_object_policy</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-opentelekomcloud-smn") %>>
          <a href="#">SMN Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-opentelekomcloud-smn_subscription_v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/smn_subscription_v2.html">opentelekomcloud_smn_subscription_v2</a>
            </li>
            <li<%= sidebar_current("docs-opentelekomcloud-smn-topic-v2") %>>
              <a href="/docs/providers/opentelekomcloud/r/smn_topic_v2.html">opentelekomcloud_smn_topic_v2</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
